
<h3>Weather for {{display_location.city}}, {{display_location.state}}</h3>
<p>The Temperature is {{temperature_string}}</p>
<p>The Air Pressure is {{pressure_in}} lbs</p>
<p>The Wind Speed is {{wind_mph}} mph, blowing {{wind_dir}}</p>
<button id="threeDayForcast">View 3-Day Forcast</button>
<button id="tenDayForcast">View 7-Day Forcast</button>



{{!--//Temperature
// Conditions
// Air pressure
// Wind speed
// An affordance to view the forecast for the current day, the next three days, or the next 7 days
// given the user is viewing the current forecast
// when the user clicks on the link to view the 3 day forecast
// then the current data (see above), and the data for the next 3 days should be displayed--}}